<!-- templates/timesheet_list.html -->
{% extends "base2.html" %}
{% load custom_filters %}
{% load static %}
{% block title %}Timesheet List{% endblock %}

{% block content %}
<h2>Liste Pointage</h2>

<form method="get" action="">
    <div class="form-row">
        <div class="form-group col-md-4">
            {{ filter_form.start_date.label_tag }}
            {{ filter_form.start_date }}
        </div>
        <div class="form-group col-md-4">
            {{ filter_form.end_date.label_tag }}
            {{ filter_form.end_date }}
        </div>
        <div class="form-group col-md-4">
            <label>Employees:</label>
            {{ filter_form.employees }}
        </div>
    </div>
    <button type="submit" >Filter</button>
</form>
<div class="w3-container w3-margin-top">
    <table class="w3-table-all w3-card-4">
        <thead>
            <tr class="w3-light-grey">
                <th>Employé</th>
                <th>Date</th>
                <th colspan="2" class="w3-center w3-border-left">Session 1</th>
                <th colspan="2" class="w3-center w3-border-left">Session 2</th>
                <th colspan="2" class="w3-center w3-border-left">Session 3</th>
                <th class="w3-border-left">Total</th>
                <th colspan="2" class="w3-center w3-pale-blue w3-border-left">Audit XpertPharm</th>
                <th>Actions</th>
            </tr>
            <tr class="w3-small">
                <th></th><th></th>
                <th class="w3-border-left">In</th><th>Out</th>
                <th class="w3-border-left">In</th><th>Out</th>
                <th class="w3-border-left">In</th><th>Out</th>
                <th class="w3-border-left">Heures</th>
                <th class="w3-pale-blue w3-border-left">First</th><th class="w3-pale-blue">Last</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in timesheets_with_hours %}
            <tr>
                <form method="post" action="{% url 'update_timesheet' item.obj.id %}">
                    {% csrf_token %}
                    <td>
                        <select name="employee" class="w3-select w3-border w3-round" style="width:150px">
                            <option value="{{ item.obj.employee.id }}">{{ item.obj.employee }}</option>
                        </select>
                    </td>
                    <td>
                        <input type="date" name="date" value="{{ item.obj.date|date:'Y-m-d' }}" class="w3-input w3-border w3-round" readonly>
                    </td>

                    <td class="w3-border-left"><input type="time" name="start_time" value="{{ item.obj.start_time|time:'H:i' }}" class="w3-input w3-border"></td>
                    <td><input type="time" name="end_time" value="{{ item.obj.end_time|time:'H:i' }}" class="w3-input w3-border"></td>

                    <td class="w3-border-left"><input type="time" name="start_time_2" value="{{ item.obj.start_time_2|time:'H:i' }}" class="w3-input w3-border"></td>
                    <td><input type="time" name="end_time_2" value="{{ item.obj.end_time_2|time:'H:i' }}" class="w3-input w3-border"></td>

                    <td class="w3-border-left"><input type="time" name="start_time_3" value="{{ item.obj.start_time_3|time:'H:i' }}" class="w3-input w3-border"></td>
                    <td><input type="time" name="end_time_3" value="{{ item.obj.end_time_3|time:'H:i' }}" class="w3-input w3-border"></td>

                    <td class="w3-border-left w3-center">
                        <span class="w3-tag w3-round w3-dark-grey">{{ item.hours|hours_minutes }}</span>
                    </td>

                    <td class="w3-border-left w3-text-blue w3-center"><b>{{ item.xp_first }}</b></td>
                    <td class="w3-text-blue w3-center"><b>{{ item.xp_last }}</b></td>

                    <td>
                        <button type="submit" class="w3-button w3-blue w3-round w3-small">💾</button>
                    </td>
                </form>
            </tr>
            {% empty %}
            <tr>
                <td colspan="12" class="w3-center">Aucun enregistrement trouvé pour cette période.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
